.bodyContentCenter
{
	width: 619px;
	margin-left: auto;
	margin-right: auto;
	position:center;
	font-family: quicksand, serif;
	font-size:24px;
}

.bodyContentLeft
{
	width: 619px;
	margin-left: auto;
	margin-right: auto;
	position:left;
	text-align:left;
}

.bodyTextHeaderRightSide
{
	width: 419px;
	margin-left: auto;
	margin-right: auto;
	position:center;
	text-align:right;
	font-family: quicksand, serif;
	font-size:24px;
	font-style:italic;
}

.bodyTextGeneralCenter
{
	width: 419px;
	font-family: quicksand, serif;
	font-size:20px;
}

a:link
{
    color:#606060;
}