body
{
    background:#ffffff;
}

.content
{
    height: 100%;
    padding-bottom: 80px;
}

.imageBanner
{
	width: 769px;
}

.footerTable
{
	width: 769px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	position:center;
}

.navBar
{
	width: 769px;
	margin-left: auto;
	margin-right: auto;
	position:center;
}

.footerCellNoHover
{
	width:110px;
	display: inline-block;
	height:100%;
	text-align:center;
	font-family: quicksand, serif;
	font-size:20px;
}

.footerCell
{
	width:110px;
	display: inline-block;
	height:100%;
	text-align:center;
	font-family: quicksand, serif;
	font-size:20px;
}

.footerCell:hover
{
	background-color: #000;
	color: #fff; 
}

.twitterImage
{
	width:30px;
	height:30px;
}

.footerCellLeftMajority
{
	width:320px;
	display: inline-block;
	height:100%;
	text-align:center;
	font-family: quicksand, serif;
	font-size:20px;
}

.mainBodyBlock
{
	height:auto;
	display: block;
	text-align:left;
	font-size:20px;
}

.leftAlignMainBody
{
    display: block;
	text-align:left;
	width: 769px;
	margin-left: auto;
	margin-right: auto;
	font-family: quicksand, serif;
	font-weight:bold;
}

.rightAlignMainBody
{
    display: block;
	text-align:right;
	width: 769px;
	margin-left: auto;
	margin-right: auto;
	font-family: quicksand, serif;
}

.footerCellSecondLeftMajority
{
	width:120px;
	display: inline-block;
	height:100%;
	text-align:center;
	font-family: quicksand, serif;
	font-size:20px;
	margin-left:20px;
}

.footerCellSecondLeftMajority:hover
{
	background-color: #000;
	color: #fff; 
}

.navBarCell
{
	width:121px;
	display: inline-block;
	height:100%;
	text-align:center;
	font-family: quicksand, serif;
	font-size:20px;
}

.navBarCell:hover
{
	background-color: #000;
	color: #fff; 
}
.resplendentBanner
{
    font-family: sail, serif;
    font-size:54px;
    text-shadow:#555 1px 1px 2px;
    position:relative;
    padding-left:35px;
    padding-top:10px;
}
.resplendentDefinition
{
    font-family: syncopate, serif;
    position:relative;
    padding-left:135px;
    font-weight:bold;
    background:-webkit-gradient(linear,left center,right center,from(#2432f1),to(#46f124));
    -webkit-background-clip: text, border;
    color: transparent;
}

.stripe
{
    display: block;
    width: 95%;
    height: 4px;
    background:-webkit-gradient(linear,left center,right center,from(#ed7508),to(#f5d4a8));
    margin: 0 auto;
    margin-top: -4px;
}

.blackStripe
{
    display: block;
    width: 769px;
    height: 4px;
    background-color:#000000;
    margin: 0 auto;
    margin-top: -4px;
}

.wrap
{
	padding: 4% 0;
	line-height: 1.5em;
	text-rendering: optimizelegibility;
	background-color: #FFF;
/* 	width:800px; */
/* 	max-width:90%; */
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: "Baskerville" , "Times New Roman", "Times", serif;
	font-size: 1.05em;
}

.mindfuckWords{
	font-family:"Times New Roman", "Times", serif;
	font-weight:normal; 
	font-style:normal;
	font-size: 28px;
}

#pink
{
    color:#cc3333;
}