div.footerTable
    .blackStripe
    table.navBar
        td.footerCellLeftMajority because knowing is everything.
        td.footerCellSecondLeftMajority(onClick='document.location.href="/faq"', style='cursor:pointer;cursor:hand') FAQ
        td.footerCell(onClick='document.location.href="/contact"', style='cursor:pointer;cursor:hand') Contact
        td.footerCellNoHover
            a(href='http://twitter.com/mindfucknyc')
                img.twitterImage(src='images/twitter.png')