link(rel='stylesheet', href='/stylesheets/styles.css')
link(rel='stylesheet', href='/stylesheets/bodystyles.css')
script(type='text/javascript', src='http://use.edgefonts.net/quicksand.js');

div.wrap
    img.imageBanner(src='/images/logo-nyc.png', onClick='document.location.href="."', style='cursor:pointer;cursor:hand')
div.navBar
    table
        td.navBarCell(onClick='document.location.href="/ev"', style='cursor:pointer;cursor:hand') EV
        td.navBarCell(onClick='document.location.href="/wv"', style='cursor:pointer;cursor:hand') WV
        td.navBarCell(onClick='document.location.href="/midtown"', style='cursor:pointer;cursor:hand') MIDTOWN
        td.navBarCell(onClick='document.location.href="/tribeca"', style='cursor:pointer;cursor:hand') TRIBECA
        td.navBarCell(onClick='document.location.href="/meat"', style='cursor:pointer;cursor:hand') MEAT
        td.navBarCell(onClick='document.location.href="/murray"', style='cursor:pointer;cursor:hand') MURRAY