<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MTGOXUserAPISecret</key>
	<string>ZSV2zM6ayW6oRLAl154yLk6C8XAvQqXqxUnZbLlc4NlBmJCCUByH9gQByXDuk+uqNDKJFDEk0p44aPs5Ioa9fw==</string>
	<key>MTGOXUserAPIKey</key>
	<string>9020148e-0c49-4e27-8f4d-30493577a9f0</string>
</dict>
</plist>
