head
    title MindFuck New York City
|    <meta name="robots" content="ALL">
|    <meta name="copyright" content="Copyright 2012 Resplendent G.P.">
|    <meta name="Description" content="">
|    <meta name="Keywords" content="">

doctype 5
html(lang="en")
    body
        include includes/header
        center <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> body <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        include includes/footer