!!! 5
html
    head
        title TulipTrader Options Net
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/styles.css')
    body
    block contents
    block scripts