<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MTGOXUserAPISecret</key>
	<string>+iY3ENMr3JAuvPRghAQpWYz31E51726WwjJphyD7X/vGWVihmEYW1ikhWwEpAG9Gf1pHbV+kz6vAxQWNwNesQg==</string>
	<key>MTGOXUserAPIKey</key>
	<string>d6f91b68-7dab-4c13-8164-9f5c894d3084</string>
</dict>
</plist>
